body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3a474e;
    margin: 0;
}

h1 {
    padding-left: 71px;
    padding-top: 25px;
}

h1 span {
    color: gray;
    margin: 5px 0;
    padding: 5px 25px 5px;
    background-color: #fff;
    font-size: 17px;
    line-height: 20px;
    border-radius: 2px;
    font-weight: normal;
}

form {
    width: 600px;
    padding: 20px;
    padding-top: 38px;
}

.header {
    padding: 20px;
}

.bannerText {
    min-height: 150px;
    background-color: #4af;
    display: flex;
}
